@import "bootstrap";
@import "theme";

ul {
  list-style-type: none;
}

.activity-actor {
  display: in-line;
}

.actor-metadata {
  font-size: @font-size-small;
}

.details {
  background-color: @gray-lighter;
}

.image {
  border: 1px solid @gray-light;
}

.message {
  font-size: @font-size-large;
}

.negative {
  color: @brand-danger;
}

.neutral {
  color: @brand-info;
}

.positive {
  color: @brand-success;
}

.sentiment {
  /* display:table-cell; */
  /* vertical-align: middle; */
  /* text-align: center; */
  text-transform: capitalize;
}
