<div class="container">
  <h1>Russell Shurts <small>Nuvi Code Challenge</small></h1>
  <p>
    Source code: <a href='https://github.com/rshurts/nuvi_challenge'>https://github.com/rshurts/nuvi_challenge</a>
  </p>
  <p>
    LinkedIn profile: <a href='https://www.linkedin.com/in/russellwshurts'>https://www.linkedin.com/in/russellwshurts</a>
  </p>
  {{outlet}}
</div>
